.navbar-home-button {
    margin-right: 20px;
    background: linear-gradient(
      0deg,
      rgb(129, 72, 72) 0%,
      rgb(126, 38, 38) 100%
    );
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    margin-right: 10px;
    margin-top: 2em;
    width: 5%;
    align-items: center;
    text-align: center;
    border: 7px rgb(133, 11, 11);
    transition: border 1s;
    border-style:inset;
    padding-bottom: 10px;
}
.navbar-home-button:hover {
    background: linear-gradient(
      0deg,
      rgb(129, 72, 72) 0%,
      rgb(126, 38, 38) 100%
    );
    border: 3px rgb(133, 11, 11);
    border-style:inset;
    transition: border 1s;
}
.nav-signup-login-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}

.profile-dropdown-logout-button {
    width: 100%;
}

.user-dropdown-button {
    width: 10%;
    border: 7px rgb(133, 11, 11);
    border-style:inset;
    transition: border 1s;
}
.demo-user-button {
    width: 160px;
}

.user-dropdown-button:hover {
    width: 10%;
    border: 4px rgb(133, 11, 11);
    border-style:inset;
    transition: border 1s;
}

.login-signup-navbar-div {
    width: 100%;
}

.nav-signup-login-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 935px) {
    .nav-signup-login-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 0;
    }
}

.login-signup-navbar-div {
    width: 40em;
    align-items: center;
    align-content: center;
    text-align: center;
}
