.navbar-home-button {
    margin-right: 20px;
    background: linear-gradient(
      0deg,
      rgb(153, 74, 0) 0%,
      rgb(194, 137, 30) 100%
    );
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
    color: white;
    padding: 14px 20px;
    margin-right: 10px;
    margin-top: 2em;
    width: 5%;
    align-items: center;
    text-align: center;
}
button {
    width: 20%;
    align-items: center;
    text-align: center;
}

.nav-signup-login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

.profile-dropdown-logout-button {
    width: 100%;
}

.user-dropdown-button {
    width: 10%;
}
